@font-face {
  font-family: "Wingdings 2";
  src: url(fonts/WINGDNG2.TTF) format("truetype");
}

@font-face {
  font-family: "Compagnon";
  src: url(fonts/Compagnon-Roman.otf) format("truetype");
}

@font-face {
  font-family: "Compagnon-Light-Italic";
  src: url(fonts/Compagnon-LightItalic.otf) format("truetype");
}


:root {
    --orange: #ff3323;
    --bleu: #eafdfa;
    --typo: "Compagnon";
    --typo-light-italic: "Compagnon-Light-Italic";
}

html {
  width: 100vw;
  height: 100vh;

  font-size: 16px;
}

/* Très petits écrans */
@media (max-width: 480px) {
  html {
    font-size: 13px; 
  }
}

/* Petits écrans */
@media (min-width: 481px) and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

/* Écrans moyens */
@media (min-width: 641px) and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

/* Écrans larges */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* Grands écrans */
@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 17px;
  }
}

/* Très grands écrans */
@media (min-width: 1281px) {
  html {
    font-size: 18px;
  }
}


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--bleu);
}

#top {
  width: 100vw;

  top: 0;
  left: 0;

  position: fixed;
  -webkit-backface-visibility: hidden;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#top-left {
  margin-top: 1rem;
  margin-left: 1rem;

  display: flex;
  flex-direction: row;
}

#top-right img {
  width: auto;
  height: 1.25rem;

  margin-top: 1rem;
  margin-right: 1rem;
}

#input-btn {
  width: 9rem;
  height: 1.25rem;

  margin-right: 1rem;

  font-size: 0.8rem;
  font-family: var(--typo);
  text-align: center;

  border: 0.5px solid var(--orange);

  color: var(--bleu);
  background-color: var(--orange);
}

#input-btn:hover {
  color: var(--orange);
  background-color: transparent;

  cursor: pointer;
}

#tooltip {
  font-family: "Wingdings 2";
  font-size: 1.25rem;

  color: var(--orange);

  cursor: help;
}

#tooltip span {
  width: 15rem;
  height: auto;

  position: absolute;
  z-index: 20;

  margin-left: -11.35rem;
  margin-top: 2.25rem;
  padding: 0.5rem;

  visibility: hidden;
  opacity: 0;

  border: 0.5px solid var(--orange);

  font-family: var(--typo);
  font-size: 0.8rem;
}


#tooltip:hover span {
  visibility: visible;
  opacity: 1;

  color: var(--orange);
  background-color: var(--bleu);
}

#bot {
  width: 100vw;

  bottom: 0;
  left: 0;

  position: fixed;
  -webkit-backface-visibility: hidden;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#print-btn {
  width: 4.5rem;
  height: 1.25rem;

  margin-bottom: 1rem;
  margin-left: 1rem;

  font-size: 0.8rem;
  font-family: var(--typo);
  text-align: center;

  border: 0.5px solid var(--orange);

  color: var(--bleu);
  background-color: var(--orange);
}

#print-btn:hover {
  color: var(--orange);
  background-color: transparent;

  cursor: pointer;
}

#bot-right {
  margin-bottom: 1rem;
  margin-right: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#reset-btn, #logout-btn {
  width: 2rem;
  height: 1.25rem;

  margin-top: 0.75rem;

  font-family: "Wingdings 2";

  border: 0.5px solid var(--orange);

  color: var(--bleu);
  background-color: var(--orange);
}

#reset-btn:hover, #logout-btn:hover {
  color: var(--orange);
  background-color: transparent;

  cursor: pointer;
}

#email, #password {
  width: 5rem;
  height: 1.25rem;

  margin-right: 0.75rem;

  font-family: var(--typo);

  border: 0.5px solid var(--orange);

  background-color: var(--bleu);
}

#email::placeholder, #password::placeholder {
  font-family: var(--typo-light-italic);
  text-align: center;

  color: var(--orange);
}

input, select, textarea{
  color: var(--orange);
}

#email:focus, #password:focus {
    outline: none;
}

#canvas {
  width: 100vw;
  height: 100vh;

  position: absolute;
}

#canvas img {
  width: 7.5rem; 
  height: auto; 

  position: absolute;
}

.delete-btn {
  top: 0;
  left: 0;

  position: absolute;
  z-index: 2;

  padding: 0.25rem;

  font-family: var(--typo);
  font-size: 0.75rem;

  color: var(--bleu);
  background-color: var(--orange);
  border: 0.5px solid var(--orange);
}

.delete-btn:hover {
  background-color: var(--bleu);
  color: var(--orange);

  cursor: pointer;
}
